.chat {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: $gray-dark;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
    right: 30px;
    bottom: 70px;
    & img {
        width: 35px;
        height: 35px;
    }
}
